*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f0edd;
}
.container{

    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    width: 400px;
}
.container h1{
    text-align: center;
    color: #000000;
    font-weight: 600;
    margin-bottom: 40px;
    text-decoration: underline;
}

.container .input-container{
  
}